@model List<New>
    
<div class="container">
  <div class="row"> 
    @foreach(var item in Model){
    <div class="col-12 col-sm-6 col-md-3 mb-5">
        <div class="card mt-5">
          <a asp-action="Detail" asp-controller="New" asp-route-id="@item.NewId">
            @if(item.Image!=null){
              <div class="card-img-container">
                <img class="card-img-top " src="/img/@item.Image" alt="Card image cap">
              </div>
              }
            <div class="card-body">
              <h5>@item.Tittle</h5>
            </div>
          </a>
          <form asp-action="Delete" asp-controller="New" method="post" onsubmit="return confirm('Emin Misiniz')" >
              <input type="hidden" name="NewId" value="@item.NewId">
                <button type="submit" class="btn btn-danger">Haberi Sil</button>
          </form>
        </div>
        
        
      </div>
    }
      </div>
   </div>
   <style>
 .card-img-container {
      position: relative;
      width: 100%;
      height: 200px; /* Adjust this height as needed */
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .card-img-top {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
  }
  .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
  }
  .card-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
     .card-img-container {
       position: relative;
       width: 100%;
       height: 200px; /* Adjust this height as needed */
       overflow: hidden;
       display: flex;
        align-items: center;
        justify-content: center;
      }
      .card-img-top {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      
      </style>