@model IndexViewModel

<div class="container mx-auto">
    <div class="row justify-content-center channels">
        @await Html.PartialAsync("_GetAllChannelsPartial", Model)
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            $(document).on('click','.sendRequest',function(){
                var channelId = $(this).data("channelid")
                var userId = "@User.FindFirstValue(ClaimTypes.NameIdentifier)";
                var parent = $(this).closest(".d-flex");
                $.ajax({
                    url: '@Url.Action("AddRequest", "Channel")',
                    type: 'POST',
                    data: { ChannelId: channelId, UserId: userId },
                    success: function(response){
                        console.log(response);
                        toastr.info(response.message);
                        $(parent).html(`<button class="btn btn-info text-light btn-sm">
                                İsteğiniz Admin Onayında    
                            </button>`);
                    },
                    error: function(response){
                        console.log(response);
                    }
                });
            });
       
            function GetAllChannels(){
                $.ajax({
                    url: '@Url.Action("GetAllChannels", "Channel",new{UserId=@User.FindFirstValue(ClaimTypes.NameIdentifier)})',
                    type: 'GET',
                    success: function(data){
                        $(".channels").html(data);
                    },
                    error: function(){
                        console.log("yüklenemedi");
                    }
                });
            }
            GetAllChannels();
            setInterval(GetAllChannels, 10000);
        });
    </script>
}
