<form asp-action="SendResetPasswordMail" method="post">
    <div class="mb-3">
        <label for="Mail" class="form-label">
            Email Adresi Giriniz
        </label>
        <input type="email" class="form-control" name="Email">
    </div>
    <button type="submit" class="btn btn-primary">Bağlantı Gönder</button>
</form>