<form asp-action="ResetPassword" asp-controller="Users" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="mb-3">
        <label for="Password" class="form-label">Yeni Parola</label>
        <input type="password" class="form-control" name="Password">
    </div>
    <input type="hidden" name="UserId" value="@ViewBag.Id">
    
    <input type="hidden" name="token" value="@ViewBag.token">
    <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">Yeni Parola Tekrarı</label>
        <input type="password" class="form-control" name="ConfirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
      
</form>